body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
  padding-bottom: 20px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  height: 50px;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.1s ease-in-out;
  
}



.time {
  width: 70px;
  font-weight: bold;
}

.editable {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  border: 1px solid #0a0909;
  padding: 5px;
  margin-left: 10px;
  height: 50px;
}

.container{
  padding-top: 50px;
}


.btn{
  margin-left: 10px;
}


